[submodule "src/test/resources/65x02"]
	path = src/test/resources/65x02
	url = https://github.com/SingleStepTests/65x02.git
[submodule "src/test/resources/nes-test-roms"]
	path = src/test/resources/nes-test-roms
	url = https://github.com/christopherpow/nes-test-roms.git
